<div class="checkout-cart__summary">
    <h3 class="text-right mb-4">{{ lex('commerce.order_summary') }}</h3>

    {% for item in items %}
        <div class="checkout__cart-item row" id="cart-item-{{ item.id }}">
            <div class="cart-item__product col-sm-12 col-md-7">
                <h4 class="cart-item__name">

                    <span class="cart-item__quantity cart-item__quantity_text">{{ item.quantity }}&times;</span>

                    {% if item.link %}
                        <a href="{{ item.link }}" title="{{ item.name }}">{{ item.name }}</a>
                    {% else %}
                        {{ item.name }}
                    {% endif %}
                </h4>

                <p class="cart-item__description">
                    {#{{ lex('commerce.cart.product_code') }}: #}
                    {{ item.sku|e }}
                </p>
            </div>

            <div class="cart-item__numbers col-sm-12 col-md-5 text-sm-right">
                {% apply spaceless %}
                    {% if tax_exclusive %}
                        {% if item.discount != 0 %}
                            <span class="cart-item__subtotal_old">{{ item.subtotal_formatted }}</span>
                            <span class="cart-item__subtotal">{{ item.total_ex_tax_formatted }}</span>
                        {% else %}
                            <span class="cart-item__subtotal">{{ item.total_ex_tax_formatted }}</span>
                        {% endif %}

                        {#{% if item.tax != 0 %}#}
                            {#<br>#}
                            {#<span class="cart-item__tax">{{ lex('commerce.cart.item.plus_taxes', {'tax': item.tax_formatted}) }}</span>#}
                            {#<br>#}
                            {#<span class="cart-item__total_incl_tax">{{ item.total_formatted }}</span>#}
                        {#{% endif %}#}
                    {% else %}
                        {% if item.discount != 0 %}
                            <span class="cart-item__subtotal_old">{{ item.subtotal_formatted }}</span>
                            <span class="cart-item__subtotal">{{ item.total_before_tax_formatted }}</span>
                        {% else %}
                            <span class="cart-item__subtotal">{{ item.total_before_tax_formatted }}</span>
                        {% endif %}
                    {% endif %}
                {% endapply %}
            </div>

        </div>
    {% endfor %}



    <div class="cart-totals mt-4">
        {% set totalIndex = 1 %}

        {% if tax_exclusive %}
            {% for shipment in shipments %}
                {% if shipment.method.id > 0 %}
                    {% set totalIndex = totalIndex + 1 %}
                    <div class="{% if totalIndex is odd %}c-cart-total-item{% else %}c-cart-total-item-even{% endif %}">
                        <span class="c-cart-totals-label c-cart-totals-label-shipping c-cart-totals-label-shipment">
                            {{ shipment.method.name }}
                            {% if shipment.method.class_key == 'TimeSlotsShippingMethod' and shipment.properties.timeslots_slot_info %}
                                <br>
                                <span style="font-weight: normal; opacity: 0.85;">
                                    {{ shipment.properties.timeslots_date_info.locale_day }},
                                    {{ shipment.properties.timeslots_slot_info.time_from|date('H:i') }}&ndash;{{ shipment.properties.timeslots_slot_info.time_until|date('H:i') }}
                                </span>
                            {% endif %}
                        </span>
                        <span class="c-cart-totals-value c-cart-totals-shipping">
                            {{ shipment.fee_formatted }}
                        </span>
                    </div>
                {% endif %}
            {% endfor %}

            {% set totalIndex = totalIndex + 1 %}
            <div class="{% if totalIndex is odd %}c-cart-total-item{% else %}c-cart-total-item-even{% endif %}">
                <span class="c-cart-totals-label c-cart-totals-label-subtotal c-cart-totals__bold">
                    {{ lex('commerce.subtotal') }}
                </span>
                <span class="c-cart-totals-value c-cart-totals-subtotal c-cart-totals__bold">
                    {{ order.total_before_tax_formatted }}
                </span>
            </div>
            {% for rate in tax_rates %}
                {% set totalIndex = totalIndex + 1 %}
                <div class="{% if totalIndex is odd %}c-cart-total-item{% else %}c-cart-total-item-even{% endif %}">
                    <span class="c-cart-totals-label c-cart-totals-label-taxes">
                        {{ rate.name}}
                        ({{ rate.percentage_formatted }})
                    </span>
                    <span class="c-cart-totals-value c-cart-totals-total">
                        {{ rate.total_tax_amount_formatted }}
                    </span>
                </div>
            {% endfor %}
            {% if order.transaction != 0 %}
                {% set totalIndex = totalIndex + 1 %}
                <div class="{% if totalIndex is odd %}c-cart-total-item{% else %}c-cart-total-item-even{% endif %}">
                    <span class="c-cart-totals-label c-cart-totals-label-transaction">
                        {{ lex('commerce.transaction') }}
                    </span>
                    <span class="c-cart-totals-value c-cart-totals-transaction">
                        {{ order.transaction_formatted }}
                    </span>
                </div>
            {% endif %}
            {% set totalIndex = totalIndex + 1 %}
            <div class="{% if totalIndex is odd %}c-cart-total-item{% else %}c-cart-total-item-even{% endif %}">
                <span class="c-cart-totals-label c-cart-totals-label-total c-cart-totals__bold">
                    {{ lex('commerce.total') }}
                </span>
                <span class="c-cart-totals-value c-cart-totals-total c-cart-totals__bold">
                    {{ order.total_formatted }}
                </span>
            </div>

        {% else %}

            {% for shipment in shipments %}
                {% if shipment.method.id > 0 %}
                    {% set totalIndex = totalIndex + 1 %}
                    <div class="{% if totalIndex is odd %}c-cart-total-item{% else %}c-cart-total-item-even{% endif %}">
                    <span class="c-cart-totals-label c-cart-totals-label-shipping c-cart-totals-label-shipment">
                        {{ shipment.method.name }}
                        {% if shipment.method.class_key == 'TimeSlotsShippingMethod' and shipment.properties.timeslots_slot_info %}
                            <br>
                            <span style="font-weight: normal; opacity: 0.85;">
                                {{ shipment.properties.timeslots_date_info.locale_day }},
                                {{ shipment.properties.timeslots_slot_info.time_from|date('H:i') }}&ndash;{{ shipment.properties.timeslots_slot_info.time_until|date('H:i') }}
                            </span>
                        {% endif %}
                    </span>
                        <span class="c-cart-totals-value c-cart-totals-shipping">
                        {{ shipment.fee_formatted }}
                    </span>
                    </div>
                {% else %}
                    <div class="{% if totalIndex is odd %}c-cart-total-item{% else %}c-cart-total-item-even{% endif %}">
                    <span class="c-cart-totals-label c-cart-totals-label-shipping c-cart-totals-label-shipment">
                        {{ lex('commerce.shipping') }}
                    </span>
                        <span class="c-cart-totals-value c-cart-totals-shipping">
                        <em>Calculated during checkout</em>
                    </span>
                    </div>
                {% endif %}
            {% endfor %}



            {% if order.tax != 0 %}
                {% set totalIndex = totalIndex + 1 %}
                <div class="{% if totalIndex is odd %}c-cart-total-item{% else %}c-cart-total-item-even{% endif %}">
                    <span class="c-cart-totals-label c-cart-totals-label-total c-cart-totals__bold">
                        {{ lex('commerce.subtotal') }}
                    </span>
                    <span class="c-cart-totals-value c-cart-totals-total c-cart-totals__bold">
                        {{ order.total_before_tax_formatted }}
                    </span>
                </div>
                {% for rate in tax_rates %}
                    {% set totalIndex = totalIndex + 1 %}
                    <div class="{% if totalIndex is odd %}c-cart-total-item{% else %}c-cart-total-item-even{% endif %}">
                        <span class="c-cart-totals-label c-cart-totals-label-taxes">
                            {{ rate.name}}
                            ({{ rate.percentage_formatted }})
                        </span>
                        <span class="c-cart-totals-value c-cart-totals-total">
                            {{ rate.total_tax_amount_formatted }}
                        </span>
                    </div>
                {% endfor %}
            {% endif %}

            {% if order.transaction != 0 %}
                {% set totalIndex = totalIndex + 1 %}
                <div class="{% if totalIndex is odd %}c-cart-total-item{% else %}c-cart-total-item-even{% endif %}">
                    <span class="c-cart-totals-label c-cart-totals-label-transaction">
                        {{ lex('commerce.transaction') }}
                    </span>
                    <span class="c-cart-totals-value c-cart-totals-transaction">
                        {{ order.transaction_formatted }}
                    </span>
                </div>
            {% endif %}

            {% set totalIndex = totalIndex + 1 %}
            <div class="{% if totalIndex is odd %}c-cart-total-item{% else %}c-cart-total-item-even{% endif %}">
                <span class="c-cart-totals-label c-cart-totals-label-total c-cart-totals__bold">
                    {{ lex('commerce.total') }}
                </span>
                <span class="c-cart-totals-value c-cart-totals-total c-cart-totals__bold">
                    {{ order.total_formatted }}
                </span>
            </div>

        {% endif %}


    </div>

</div>

{% if shipping_address.id > 0 %}
    <div class="checkout__shipping_address text-right mt-4">
        <h3>{{ lex('commerce.shipping_address') }}</h3>
        {% if shipping_method.id %}
            <p class="c-shipping-summary">
                {{ lex('commerce.cart.shipping_with_method') }}
                <b>{{ shipping_method.name }}</b>
            </p>
        {% endif %}
        <div class="c-shipping-address">
            {{ shipping_address|format_address }}
        </div>
    </div>
{% endif %}
{% if billing_address.id > 0 %}
    <div class="checkout__billing_address text-right mt-4">
        <h3>{{ lex('commerce.billing_address') }}</h3>
        <div class="c-billing-address">
            {{ billing_address|format_address }}
        </div>
    </div>
{% endif %}