<div class="checkout-cart__summary">
    <h3 class="text-right mb-4">{{ lex('commerce.order_summary') }}</h3>

    {% for item in items %}
        <div class="checkout__cart-item row" id="cart-item-{{ item.id }}">
            <div class="cart-item__product col-sm-12 col-md-7">
                <h4 class="cart-item__name">

                    <span class="cart-item__quantity cart-item__quantity_text">{{ item.quantity }}&times;</span>

                    {% if item.link %}
                        <a href="{{ item.link }}" title="{{ item.name }}">{{ item.name }}</a>
                    {% else %}
                        {{ item.name }}
                    {% endif %}
                </h4>

                <p class="cart-item__description">
                    {#{{ lex('commerce.cart.product_code') }}: #}
                    {{ item.sku|e }}
                </p>
            </div>

            <div class="cart-item__numbers col-sm-12 col-md-5 text-sm-right">
                {% spaceless %}
                    {% if tax_exclusive %}
                        {% if item.discount != 0 %}
                            <span class="cart-item__subtotal_old">{{ item.subtotal_formatted }}</span>
                            <span class="cart-item__subtotal cart-item__subtotal_ex_tax">{{ item.total_ex_tax_formatted }}</span>
                        {% else %}
                            <span class="cart-item__subtotal cart-item__subtotal_ex_tax">{{ item.total_ex_tax_formatted }}</span>
                        {% endif %}

                        {% if item.tax != 0 %}
                            <br>
                            <span class="cart-item__tax">{{ lex('commerce.cart.item.plus_taxes', {'tax': item.tax_formatted}) }}</span>
                            <br>
                            <span class="cart-item__total_incl_tax">{{ item.total_formatted }}</span>
                        {% endif %}
                    {% else %}
                        {% if item.discount != 0 %}
                            <span class="cart-item__subtotal_old">{{ item.subtotal_formatted }}</span>
                            <span class="cart-item__subtotal">{{ item.total_before_tax_formatted }}</span>
                        {% else %}
                            <span class="cart-item__subtotal">{{ item.total_before_tax_formatted }}</span>
                        {% endif %}
                    {% endif %}
                {% endspaceless %}
            </div>

        </div>
    {% endfor %}



    <div class="cart-totals mt-4">
        {% set totalIndex = 1 %}

        {% if tax_exclusive %}
            .. to do ..

            <div class="{% if totalIndex is odd %}c-cart-total-item{% else %}c-cart-total-item-even{% endif %}">
                <span class="c-cart-totals-label c-cart-totals-label-subtotal">
                    {{ lex('commerce.subtotal') }}
                </span>
                <span class="c-cart-totals-value c-cart-totals-subtotal">
                    {{ order.subtotal_formatted }}
                </span>
            </div>
            {% for shipment in shipments %}
                {% if shipment.method.id > 0 %}
                    {% set totalIndex = totalIndex + 1 %}
                    <div class="{% if totalIndex is odd %}c-cart-total-item{% else %}c-cart-total-item-even{% endif %}">
                        <span class="c-cart-totals-label c-cart-totals-label-shipping c-cart-totals-label-shipment">
                            {{ shipment.method.name }}
                        </span>
                        <span class="c-cart-totals-value c-cart-totals-shipping">
                    {{ shipment.fee_formatted }}
                </span>
                    </div>
                {% endif %}
            {% endfor %}
            {% if order.discount != 0 %}
                {% set totalIndex = totalIndex + 1 %}
                <div class="{% if totalIndex is odd %}c-cart-total-item{% else %}c-cart-total-item-even{% endif %}">
            <span class="c-cart-totals-label c-cart-totals-label-discount">
                {{ lex('commerce.discount') }}
            </span>
                    <span class="c-cart-totals-value c-cart-totals-discount">
                -&nbsp;{{ order.discount_formatted }}
            </span>
                </div>
                {% set totalIndex = totalIndex + 1 %}
                <div class="{% if totalIndex is odd %}c-cart-total-item{% else %}c-cart-total-item-even{% endif %}">
            <span class="c-cart-totals-label c-cart-totals-label-total-before-tax">
                {{ lex('commerce.total_before_tax') }}
            </span>
                    <span class="c-cart-totals-value c-cart-totals-total-before-tax">
                {{ order.total_before_tax_formatted }}
            </span>
                </div>
            {% endif %}
            {% if order.tax != 0 %}
                {% if tax_exclusive %}

                    {% set totalIndex = totalIndex + 1 %}
                    <div class="{% if totalIndex is odd %}c-cart-total-item{% else %}c-cart-total-item-even{% endif %}">
                <span class="c-cart-totals-label c-cart-totals-label-total-ex-tax">
                    {{ lex('commerce.total_ex_tax') }}
                </span>
                        <span class="c-cart-totals-value c-cart-totals-total-ex-tax">
                    {{ order.total_ex_tax_formatted }}
                </span>
                    </div>
                    {% set totalIndex = totalIndex + 1 %}
                    <div class="{% if totalIndex is odd %}c-cart-total-item{% else %}c-cart-total-item-even{% endif %}">
                <span class="c-cart-totals-label c-cart-totals-label-taxes">
                    {{ lex('commerce.taxes') }}
                </span>
                        <span class="c-cart-totals-value c-cart-totals-taxes">
                    {{ order.tax_formatted }}
                </span>
                    </div>

                {% else %}

                    {% set totalIndex = totalIndex + 1 %}
                    <div class="{% if totalIndex is odd %}c-cart-total-item{% else %}c-cart-total-item-even{% endif %}">
                <span class="c-cart-totals-label c-cart-totals-label-taxes">
                    {{ lex('commerce.tax_included') }}
                </span>
                        <span class="c-cart-totals-value c-cart-totals-taxes">
                    {{ order.tax_formatted }}
                </span>
                    </div>
                    {% set totalIndex = totalIndex + 1 %}
                    <div class="{% if totalIndex is odd %}c-cart-total-item{% else %}c-cart-total-item-even{% endif %}">
                    <span class="c-cart-totals-label c-cart-totals-label-total-before-tax">
                        {{ lex('commerce.total_before_tax') }}
                    </span>
                        <span class="c-cart-totals-value c-cart-totals-total-before-tax">
                        {{ order.total_before_tax_formatted }}
                    </span>
                    </div>

                {% endif %}
            {% endif %}
            {% if order.transaction != 0 %}
                {% set totalIndex = totalIndex + 1 %}
                <div class="{% if totalIndex is odd %}c-cart-total-item{% else %}c-cart-total-item-even{% endif %}">
            <span class="c-cart-totals-label c-cart-totals-label-transaction">
                {{ lex('commerce.transaction') }}
            </span>
                    <span class="c-cart-totals-value c-cart-totals-transaction">
                {{ order.transaction_formatted }}
            </span>
                </div>
            {% endif %}
            {% set totalIndex = totalIndex + 1 %}
            <div class="{% if totalIndex is odd %}c-cart-total-item{% else %}c-cart-total-item-even{% endif %}">
        <span class="c-cart-totals-label c-cart-totals-label-total">
            {{ lex('commerce.total') }}
        </span>
                <span class="c-cart-totals-value c-cart-totals-total">
            {{ order.total_formatted }}
        </span>
            </div>

        {% else %}

            {#
                Typically it's nice to add a "You save: € XX.XX" to the cart footer, but I feel like it's
                pretty obvious already in this particular cart design where the savings are, so skipping it here

            {% if order.discount != 0 %}
                {% set totalIndex = totalIndex + 1 %}
                <div class="{% if totalIndex is odd %}c-cart-total-item{% else %}c-cart-total-item-even{% endif %}">
                    <span class="c-cart-totals-simple-value c-cart-totals-savings">
                        {{ lex('commerce.cart.item.discount', {'discount': order.discount_formatted}) }}
                    </span>
                </div>
            {% endif %}
            #}

            <span class="cart-item__discount"></span>

            {% for shipment in shipments %}
                {% if shipment.method.id > 0 %}
                    {% set totalIndex = totalIndex + 1 %}
                    <div class="{% if totalIndex is odd %}c-cart-total-item{% else %}c-cart-total-item-even{% endif %}">
                    <span class="c-cart-totals-label c-cart-totals-label-shipping c-cart-totals-label-shipment">
                        {{ shipment.method.name }}
                    </span>
                        <span class="c-cart-totals-value c-cart-totals-shipping">
                        {{ shipment.fee_formatted }}
                    </span>
                    </div>
                {% else %}
                    <div class="{% if totalIndex is odd %}c-cart-total-item{% else %}c-cart-total-item-even{% endif %}">
                    <span class="c-cart-totals-label c-cart-totals-label-shipping c-cart-totals-label-shipment">
                        {{ lex('commerce.shipping') }}
                    </span>
                        <span class="c-cart-totals-value c-cart-totals-shipping">
                        <em>Calculated during checkout</em>
                    </span>
                    </div>
                {% endif %}
            {% endfor %}



            {% if order.tax != 0 %}
                {% set totalIndex = totalIndex + 1 %}
                <div class="{% if totalIndex is odd %}c-cart-total-item{% else %}c-cart-total-item-even{% endif %}">
                    <span class="c-cart-totals-label c-cart-totals-label-total">
                        {{ lex('commerce.total_ex_tax') }}
                    </span>
                    <span class="c-cart-totals-value c-cart-totals-total c-cart-totals__bold">
                        {{ order.total_ex_tax_formatted }}
                    </span>
                </div>
                {% for rate in tax_rates %}
                    {% set totalIndex = totalIndex + 1 %}
                    <div class="{% if totalIndex is odd %}c-cart-total-item{% else %}c-cart-total-item-even{% endif %}">
                        <span class="c-cart-totals-label c-cart-totals-label-taxes">
                            {{ rate.name}}
                            ({{ rate.percentage_formatted }})
                        </span>
                        <span class="c-cart-totals-value c-cart-totals-total">
                            {{ rate.total_tax_amount_formatted }}
                        </span>
                    </div>
                {% endfor %}
            {% endif %}

            {% set totalIndex = totalIndex + 1 %}
            <div class="{% if totalIndex is odd %}c-cart-total-item{% else %}c-cart-total-item-even{% endif %}">
            <span class="c-cart-totals-label c-cart-totals-label-total c-cart-totals__bold">
                {{ lex('commerce.total') }}
            </span>
                <span class="c-cart-totals-value c-cart-totals-total c-cart-totals__bold">
                {{ order.total_formatted }}
            </span>
            </div>

            {% set totalIndex = totalIndex + 1 %}
            <div class="{% if totalIndex is odd %}c-cart-total-item{% else %}c-cart-total-item-even{% endif %}">
            <span class="c-cart-totals-simple-value c-cart-totals-taxes-included">
                {#{{ order.tax_formatted }}#}
                <span class="cart-item__tax_incl">{{ lex('commerce.cart.item.incl_taxes', {'tax': order.tax_formatted}) }}</span>
            </span>
            </div>

        {% endif %}


    </div>

</div>

{% if shipping_address.id > 0 %}
    <div class="checkout__shipping_address">
        <h3>{{ lex('commerce.shipping_address') }}</h3>
        {% if shipping_method.id %}
            <p class="c-shipping-summary">
                {{ lex('commerce.cart.shipping_with_method') }}
                <b>{{ shipping_method.name }}</b>
            </p>
        {% endif %}
        <div class="c-shipping-address">
            {{ shipping_address|format_address }}
        </div>
    </div>
{% endif %}
{% if billing_address.id > 0 %}
    <div class="checkout__billing_address">
        <h3>{{ lex('commerce.billing_address') }}</h3>
        <div class="c-billing-address">
            {{ billing_address|format_address }}
        </div>
    </div>
{% endif %}