
<main role="main" class="container">
    <div class="c-wrapper">
        {% if commerce_mode == 'test' %}
            <div class="alert alert-info">
                {{ lex('commerce.shop_in_testmode') }}
            </div>
        {% endif %}

        <div class="c-steps-wrapper">
            <ol class="c-steps-indicator c-steps-{{ steps|length }}">
                {% spaceless %}
                {% for stepKey, step in steps %}
                    <li class="c-step {% if stepKey == currentKey %}active{% endif %}">
                        {% if step.allowed %}<a href="{{ step.link }}">{% endif %}
                            {{ lex('checkout.step_' ~ stepKey) }}
                        {% if step.allowed %}</a>{% endif %}
                    </li>
                {% endfor %}
                {% endspaceless %}
            </ol>
        </div>

        <div class="c-messages">
            {% include 'frontend/response-messages.twig' %}
        </div>

        <div class="c-step-wrapper">
            {% autoescape false %}
            {{ output }}
            {% endautoescape %}
        </div>
    </div>
</main>